<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <!-- Remove permissions added by Expo that aren't used. -->
  <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" tools:node="remove" />
  <uses-permission android:name="android.permission.VIBRATE" tools:node="remove" />

  <uses-permission android:name="android.permission.INTERNET" />

  <!--
    In Android 13 (API Level 33), `READ_EXTERNAL_STORAGE` is replaced by
    more granular permissions: `READ_MEDIA_AUDIO`, `READ_MEDIA_IMAGES`,
    and `READ_MEDIA_VIDEO`.
      - We only care about audio files.
  -->
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
    tools:node="remove" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <!--
    Does nothing in Android 11 (API Level 30) and above; however, `expo-media-library`
    still needs it on Android 11+ as it throws an error.
      - https://developer.android.com/reference/android/Manifest.permission#WRITE_EXTERNAL_STORAGE
  -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:theme="@style/AppTheme" android:supportsRtl="true" android:requestLegacyExternalStorage="true">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/BootTheme" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="music"/>
      </intent-filter>
    </activity>

    <!-- Disable Sentry's ANR feature. -->
    <meta-data android:name="io.sentry.anr.enable" android:value="false" />
  </application>
</manifest>