@import "tailwindcss";
@import "uniwind";

@theme {
  /** "Fixed" Color Scheme */
  --color-primary: hsl(357 79% 47%);
  --color-primaryDim: hsl(357 79% 38%);
  --color-onPrimary: hsl(0 0% 100%);
  --color-onPrimaryVariant: hsl(0 0% 89%);

  --color-secondary: hsl(47 100% 50%);
  --color-secondaryDim: hsl(47 100% 45%);
  --color-onSecondary: hsl(0 0% 0%);
  --color-onSecondaryVariant: hsl(0 0% 20%);

  --color-error: hsl(350 85% 42%);
  --color-onError: hsl(0 0% 100%);
  --color-onErrorVariant: hsl(0 0% 89%);

  /** Font Family */
  --font-roboto: "Roboto-Regular";
  --font-robotoMedium: "Roboto-Medium";
  --font-inter: "Inter-Regular";
  --font-interMedium: "Inter-Medium";
  --font-geistMono: "GeistMono-Regular";
  --font-geistMonoMedium: "GeistMono-Medium";
  --font-ndot: "Ndot-77_JP_Extended";
  --font-ntype: "NType82-Headline";

  /** Border Radius */
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /** Font Size */
  --text-xxs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
}

@layer theme {
  /** Themes */
  :root {
    @variant light {
      --color-surfaceDim: hsl(0 0% 78%);
      --color-surface: hsl(0 0% 95%);
      --color-surfaceBright: hsl(0 0% 95%);

      --color-surfaceContainerLowest: hsl(0 0% 100%);
      --color-surfaceContainerLow: hsl(0 0% 98%);
      --color-surfaceContainer: hsl(0 0% 92%);
      --color-surfaceContainerHigh: hsl(0 0% 85%);
      --color-surfaceContainerHighest: hsl(0 0% 82%);

      --color-onSurface: hsl(0 0% 0%);
      --color-onSurfaceVariant: hsl(0 0% 38%);
      --color-outline: hsl(0 0% 47%);
      --color-outlineVariant: hsl(0 0% 68%);

      --color-inverseSurface: hsl(0 0% 0%);
      --color-inverseOnSurface: hsl(0 0% 100%);
    }

    @variant dark {
      --color-surfaceDim: hsl(0 0% 0%);
      --color-surface: hsl(0 0% 0%);
      --color-surfaceBright: hsl(0 0% 7%);

      --color-surfaceContainerLowest: hsl(0 0% 11%);
      --color-surfaceContainerLow: hsl(0 0% 13%);
      --color-surfaceContainer: hsl(0 0% 16%);
      --color-surfaceContainerHigh: hsl(0 0% 20%);
      --color-surfaceContainerHighest: hsl(0 0% 23%);

      --color-onSurface: hsl(0 0% 100%);
      --color-onSurfaceVariant: hsl(0 0% 68%);
      --color-outline: hsl(0 0% 57%);
      --color-outlineVariant: hsl(0 0% 38%);

      --color-inverseSurface: hsl(0 0% 100%);
      --color-inverseOnSurface: hsl(0 0% 0%);
    }
  }
}
