@import "tailwindcss";
@import "uniwind";

@theme {
  /** Color */
  --color-red: hsl(350 85% 42%);
  --color-blue: hsl(240 49% 50%);
  --color-green: hsl(144 72% 40%);

  /** "Fixed" Color Scheme */
  --color-primary: hsl(350 85% 42%);
  --color-primaryDim: hsl(350 85% 35%);
  --color-onPrimary: hsl(0 0% 100%);
  --color-onPrimaryVariant: hsl(0 0% 89%);

  --color-secondary: hsl(47 100% 50%);
  --color-secondaryDim: hsl(47 100% 45%);
  --color-onSecondary: hsl(0 0% 0%);
  --color-onSecondaryVariant: hsl(0 0% 20%);

  --color-error: hsl(350 85% 42%);
  --color-onError: hsl(0 0% 100%);

  /** Font Family */
  --font-roboto: "Roboto-Regular";
  --font-robotoMedium: "Roboto-Medium";
  --font-inter: "Inter-Regular";
  --font-interMedium: "Inter-Medium";
  --font-geistMono: "GeistMono-Regular";
  --font-geistMonoMedium: "GeistMono-Medium";
  --font-ndot: "Ndot-77_JP_Extended";
  --font-ntype: "NType82-Headline";

  /** Border Radius */
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /** Font Size */
  --text-xxs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
}

@layer theme {
  /** Themes */
  :root {
    @variant light {
      --color-surfaceDim: hsl(0 0% 85%);
      --color-surface: hsl(0 0% 95%);
      --color-surfaceBright: hsl(0 0% 95%);

      --color-surfaceContainerLowest: hsl(0 0% 100%);
      --color-surfaceContainerLow: hsl(0 0% 98%);
      --color-surfaceContainer: hsl(0 0% 92%);
      --color-surfaceContainerHigh: hsl(0 0% 89%);

      --color-onSurface: hsl(0 0% 0%);
      --color-onSurfaceVariant: hsl(0 0% 20%);
      --color-outline: hsl(0 0% 38%);
      --color-outlineVariant: hsl(0 0% 68%);

      --color-inverseSurface: hsl(0 0% 0%);
      --color-inverseOnSurface: hsl(0 0% 100%);
    }

    @variant dark {
      --color-surfaceDim: hsl(0 0% 0%);
      --color-surface: hsl(0 0% 0%);
      --color-surfaceBright: hsl(0 0% 6%);

      --color-surfaceContainerLowest: hsl(0 0% 11%);
      --color-surfaceContainerLow: hsl(0 0% 13%);
      --color-surfaceContainer: hsl(0 0% 16%);
      --color-surfaceContainerHigh: hsl(0 0% 20%);

      --color-onSurface: hsl(0 0% 100%);
      --color-onSurfaceVariant: hsl(0 0% 89%);
      --color-outline: hsl(0 0% 68%);
      --color-outlineVariant: hsl(0 0% 38%);

      --color-inverseSurface: hsl(0 0% 100%);
      --color-inverseOnSurface: hsl(0 0% 0%);
    }
  }
}
