name: Create Privacy Build APKs
on:
  workflow_dispatch:

jobs:
  buildAPKs:
    name: build APKs
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: mobile
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js & pnpm
        uses: ./.github/actions/setup

      - name: Setup JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: 18
          distribution: temurin

      - name: Setup Gradle action for optimized execution and caching
        uses: gradle/actions/setup-gradle@v4

      - name: Clean generated builds
        run: rm -rf android/app/build/generated/

      - name: Build APKs with Gradle
        run: cd android && chmod +x gradlew && ./gradlew assembleRelease

      - name: Upload APKs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: outputAPKs
          path: mobile/android/app/build/outputs/apk/release/*.apk
